apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: oj-api

resources:
- namespace.yaml
- configmap.yaml
- secret.yaml
- api-deployment.yaml
- api-service.yaml
- ingress.yaml

# 可以添加共同的標籤

# 可以添加共同的註解
commonAnnotations:
  app.kubernetes.io/version: 1.0.0

# 映像配置 - 方便統一更新映像版本
images:
- name: heavenmanysugar/orangejuice-api
  newTag: latest
- name: heavenmanysugar/orangejuice-sandbox
  newTag: latest
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: oj-api
